In [1]:
import pandas as pd

In [5]:
#getting the data from CSV file
data = pd.read_csv("ratings.csv")
print ("Total rows in ratings.csv=", len(data))
data.head()

Total rows in ratings.csv= 981756

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [7]:
print(len(data.groupby('user_id')), "unique users")
print(len(data.groupby('book_id')), "unique books")

53424 unique users
10000 unique books

In [46]:
#Refer: https://docs.opencv.org/3.0-beta/doc/py_tutorials/py_ml/py_kmeans/py_kmeans_opencv/py_kmeans_opencv.html
import cv2
import numpy as np
from matplotlib import pyplot as plt

w=np.array(data.book_id)
x=np.array(data.user_id)
y=np.array(data.rating)

z = np.column_stack((w,x,y))
z = np.float32(z)

#For single feature use hstack, for multiple feature use vstack or column_stack.
#hstack -vs- vstack -vs- column_stack: https://stackoverflow.com/questions/16473042/numpy-vstack-vs-column-stack

In [47]:
# Define criteria = ( type, max_iter = 100 , epsilon = 1.0 )
criteria = (cv2.TERM_CRITERIA_EPS + cv2.TERM_CRITERIA_MAX_ITER, 100, 1.0)

In [55]:
# Apply KMeans
k=20
compactness,labels,centers = cv2.kmeans(z,k,None,criteria,10,cv2.KMEANS_RANDOM_CENTERS)
#25 is the hardcoded value for number of clusters

In [56]:
print("Total size of z = ", len(z))

Total size of z =  981756

In [57]:
A = z[labels.ravel()==0]
B = z[labels.ravel()==1]
C = z[labels.ravel()==2]
D = z[labels.ravel()==3]
E = z[labels.ravel()==4]

F = z[labels.ravel()==5]
G = z[labels.ravel()==6]
H = z[labels.ravel()==7]
I = z[labels.ravel()==8]
J = z[labels.ravel()==9]

K = z[labels.ravel()==10]
L = z[labels.ravel()==11]
M = z[labels.ravel()==12]
N = z[labels.ravel()==13]
O = z[labels.ravel()==14]

P = z[labels.ravel()==15]
Q = z[labels.ravel()==16]
R = z[labels.ravel()==17]
S = z[labels.ravel()==18]
T = z[labels.ravel()==19]

In [58]:
#printing Each cluster sizes :
size=0
print ("CLUSTER SIZES ARE :")
for i in range(k):
    t=chr(65+i)
    curr_size=len(eval(t))
    print ("cluster ", t, " is:", curr_size)
    size=size+curr_size
    
print("Total size:",size)

CLUSTER SIZES ARE :
cluster  A  is: 42983
cluster  B  is: 47682
cluster  C  is: 54458
cluster  D  is: 46493
cluster  E  is: 42023
cluster  F  is: 50913
cluster  G  is: 54067
cluster  H  is: 52927
cluster  I  is: 50430
cluster  J  is: 53451
cluster  K  is: 49299
cluster  L  is: 48793
cluster  M  is: 50376
cluster  N  is: 49358
cluster  O  is: 48625
cluster  P  is: 49406
cluster  Q  is: 40464
cluster  R  is: 50264
cluster  S  is: 45138
cluster  T  is: 54606
Total size: 981756

In [87]:
#Roughly all the clusteres are of similar sizes. Hence pick any (cluster size)/(number of clusters).
cluster_sample=int(len(A)/(k*50))
print ("Number of samples to pick from each cluster=", cluster_sample)

Number of samples to pick from each cluster= 42

In [88]:
#Now we know the number of data to be picked from each cluster so, we randomly pick same number of data from each.
#random.sample(population, k):Return a k length list of unique elements chosen from the population sequence. 
#Used for random sampling without replacement.
import random
dataSampled = random.sample(list(A), cluster_sample)
print ("dataSampled size = ", len(dataSampled))
#t=chr(66+0)
#print(chr(66+0))
#print(t)
#dataSampled2 =random.sample(list(eval(t)), cluster_sample)
#print ("dataSampled2 size = ", len(dataSampled2))

dataSampled size =  42

In [89]:
import itertools
for i in range(k-1):
    temp=chr(66+i)
    print("Sample from cluster ",temp)
    t=random.sample(list(eval(temp)), cluster_sample)
    dataSampled = itertools.chain(dataSampled,t)
dataSampled = list(dataSampled)
print("length of dataSampled = ", len(dataSampled))
print(cluster_sample,"*", k,"=",cluster_sample*k)

Sample from cluster  B
Sample from cluster  C
Sample from cluster  D
Sample from cluster  E
Sample from cluster  F
Sample from cluster  G
Sample from cluster  H
Sample from cluster  I
Sample from cluster  J
Sample from cluster  K
Sample from cluster  L
Sample from cluster  M
Sample from cluster  N
Sample from cluster  O
Sample from cluster  P
Sample from cluster  Q
Sample from cluster  R
Sample from cluster  S
Sample from cluster  T
length of dataSampled =  840
42 * 20 = 840

In [90]:
#header of the csv file 
head="book_id, user_id, rating"
np.savetxt("Sampled_Kmeans.csv", dataSampled, delimiter=",", header=head,comments='')